/.idea/
/.gradle/
/build/
/android/build/
/android/src/main/res/raw/*
!/android/src/main/res/raw/keep.xml
/core/build/
/demo-gwt/src/main/webapp/jmini3d_demo/
/demo-common/build/
/demo-android/build/
/demo-android/src/main/res/drawable-nodpi/
/demo-gwt/build/
/demo-gwt/src/main/gwt-unitCache/
/demo-gwt/src/main/webapp/resources/
/demo-gwt/src/main/webapp/shaders/
/demo-gwt/src/main/webapp/WEB-INF/deploy/
/gwt/build/
/utils/build/
